.speedDial {
  position: fixed;
  right: 3vmax;
  top: 3vmax;
}

.speedDialIcon {
  width: 56px;
  height: 56px;
  border-radius: 100%;
}



@media screen and (max-width: 768px) {
  
  .overlay-navbar {
    flex-direction: column; 
  }
  .overlay-navbar .navbar-links {
    margin-top: 10px; 
  }
  .overlay-navbar .navbar-logo {
    align-self: center; 
    max-width: 100%; 
  }
  .overlay-navbar .navbar-icons {
    justify-content: center; 
  }
  
}


